* {
  border: 1px solid black;
}

.header {
  display: flex;
  width: 1200px;
  height: 80px;
  position: fixed;
  border-bottom: 1px solid black;
  z-index: 1;
  background-color: white;
  padding-left: 30px;
}

.logo {
  flex-grow: 1
}

.content {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  width: 1200px;
  top: 80px;
  position: relative;
  margin-top: 10px;
}

.col1 {
  width: 630px;
}

.col2 {
  width: 300px;
}

.col3 {
  width: 240px;
}

.footer {
  top: 100px;
  width: 1200px;
  padding-left: 30px;
  position: relative;
}
