.header {
  display: flex;
  width: 100%;
  height: 80px;
  position: fixed;
  border-bottom: 1px solid black;
  z-index: 1;
  background-color: white;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  color: mediumaquamarine;
}

.header nav {
  padding-right: 30px;
}

.header span {
  padding: 10px;
}

a {
  color: black;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  width: 1200px;
  top: 80px;
  position: relative;
  margin-top: 10px;
}

.col1 {
  width: 630px;
}

.col2 {
  width: 300px;
}

.col3 {
  width: 240px;
}

.footer {
  display: flex;
  top: 100px;
  height: 250px;
  width: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: MediumAquamarine;
  font-family: Verdana;
  font-size: 12px;
  margin: auto;
  justify-content: center;
}

.footer span {
  margin: 10px;
}

.footerline1 {
  display: flex;
  align-items: center;
}

.footertitle {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid white;
  padding-right: 20px;
}
